{% extends "layout.twig" %}

{% block title %}Accueil - SOD Tirage au Sort{% endblock %}

{% block content %}
    <h1>Bienvenue sur l'application de tirage au sort SOD</h1>
    <p>Cette application gère le rituel du Speaker of the Day pour l'école Holberton Thonon-les-Bains.</p>
{% endblock %}