# holberton-rituals/.env.example

# Environment
ENVIRONMENT=development

# Database
DB_ROOT_PASSWORD=change_me_root_123!
DB_NAME=holberton_rituals
DB_USER=holberton_rituals_user
DB_PASSWORD=change_me_user_456!

# JWT
JWT_SECRET_KEY=change_me_jwt_789!

# API
API_CORS_ORIGINS=https://stellarstudio.fassih.ch,http://localhost:5173 # Add your domain here