{% extends "layout.twig" %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="neumorphic-container">
    <h1 class="neumorphic-title-red">Erreur ¯\_(ツ)_/¯</h1>
    <p>{{ message }}</p>
    <a href="{{ url_for('home') }}" class="neumorphic-button">Retour à l'accueil</a>
</div>
{% endblock %}
