{% extends "layout.twig" %}

{% block title %}Error - {{ parent() }}{% endblock %}

{% block header_title %}(╯°□°)╯︵ ┻━┻  Ooops error  ¯\_(ツ)_/¯{% endblock %}

{% block content %}
<div class="neumorphic-container">
    <h2 class="neumorphic-title-red">An error occurred</h2>
    <p>{{ message }}</p>
    {% if displayErrorDetails and trace %}
        <h3>Stack Trace:</h3>
        <pre>{{ trace }}</pre>
    {% endif %}
</div>
{% endblock %}
