{% extends "layout.twig" %}

{% block title %}Connexion - SOD Tirage au Sort{% endblock %}

{% block header_title %}Connexion{% endblock %}

{% block content %}
<div class="neumorphic-container">
    <form action="{{ url_for('auth.login') }}" method="post" class="neumorphic-form">
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required class="neumorphic-input">
        </div>
        
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required class="neumorphic-input">
        </div>
        
        <button type="submit" class="neumorphic-button">i'm up to no good !</button>
    </form>
</div>
{% endblock %}
